.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.splash-logo-container {
    position: relative;
    width: 180px;
    height: 180px;
}

.splash-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeInLogo 1.5s ease-in-out forwards;
    z-index: 2;
}

/* SVG Loader Ring */
.golden-ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
    transform: rotate(-90deg);
    /* Start stroke from top */
    z-index: 1;
}

.ring-path {
    stroke-dasharray: 282.6;
    stroke-dashoffset: 282.6;
    animation: drawRing 2s ease-out forwards;
}

@keyframes drawRing {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fadeInLogo {
    to {
        opacity: 1;
    }
}