/* Header.css */
.header-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #222222;
    height: 55px;
}

.header-logo img {
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
}

.header-navbar {
    display: flex;
    justify-content: center;
    flex: 1;
}

.header-navbar ul {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-navbar li {
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    transition: font-size 0.3s ease;
}

/* Hamburger Icon */
.hamburger-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 2px;
    z-index: 10;
}

.hamburger-icon span {
    width: 15px;
    height: 2px;
    background-color: white;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Tablet View (769px - 1024px) */
@media (max-width: 1024px) {
    .header-component {
        padding: 0 30px;
    }

    .header-navbar ul {
        gap: 30px;
    }

    .header-navbar li {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .header-component {
        padding: 0 20px;
        position: relative;
    }

    .header-navbar {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;

        /* half of screen height */
        background-color: #222222;
        opacity: 0.95;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 3rem;
        transition: top 0.3s ease-in-out;
        z-index: 5;
    }

    .header-navbar.open {
        top: 0;
    }

    .header-navbar ul {
        flex-direction: column;
        gap: 20px;
        padding: 0;
        margin: 0;
    }

    .hamburger-icon {
        display: flex;
        position: relative;
        z-index: 10;
    }

    .hamburger-icon span {
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .menu-open .hamburger-icon span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-open .hamburger-icon span:nth-child(2) {
        opacity: 0;
    }

    .menu-open .hamburger-icon span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}