.trending-section {
    width: 90%;
    margin: 0 auto;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.trending-section-h2 {
    font-size: 1.8rem;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

.trending-product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;

    width: 100%;
    /* Ensures grid fills container */
}

.spac-padding {
    padding-top: 50px;
}

@media (min-width: 1100px) {
    .trending-section {
        width: 80%;
    }

    .trending-section-h2 {
        font-size: 1.8rem;
    }

    .trending-product-grid {
        grid-template-columns: repeat(4, 1fr);
        padding: 10px;
        padding-bottom: 0;
        gap: 30px;
        padding-bottom: 50px;
    }
}

@media (min-width: 668px) and (max-width:1100px) {
    .trending-section {
        width: 80%;
    }

    .trending-section-h2 {
        font-size: 1.5rem;
    }

    .trending-product-grid {
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
        padding-bottom: 0;
        gap: 30px;
        padding-bottom: 50px;
    }
}

@media (max-width: 618px) {
    .trending-section-h2 {
        font-size: 1.3rem;
    }

    .trending-section {
        padding-top: 20px;
    }

    .spac-padding {
        padding-top: 20px;
    }
}